# Destination PostgreSQL
DEST_DB_HOST=destination_postgres
DEST_DB_PORT=5432
DEST_DB_NAME=destination_db
DEST_DB_USER=postgres
DEST_DB_PASSWORD=secret

# Airflow PostgreSQL
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB_NAME=airflow

# Airflow Configuration
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__CORE__FERNET_KEY=REPLACE_WITH_GENERATED_KEY
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__WEBSERVER__SECRET_KEY=REPLACE_WITH_RANDOM_STRING
LOAD_EX=n

# External API Keys
ALPHAVANTAGE_API_KEY=REPLACE_WITH_YOUR_KEY
